<?xml version="1.0" encoding="UTF-8"?>
<Configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <Appenders>
        <Console name="STDOUT">
            <PatternLayout pattern="%d{DATE} [%t] %-5p (%F [%M]:%L) - %m %n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="org.quartz" additivity="false" level="warn">
            <AppenderRef ref="STDOUT"/>
        </Logger>

        <Logger name="org.expath" additivity="false" level="warn">
            <AppenderRef ref="STDOUT"/>
        </Logger>

        <Logger name="org.exist.xqts.runner" additivity="false" level="info">
            <AppenderRef ref="STDOUT"/>
        </Logger>

        <Logger name="org.exist" additivity="false" level="warn">
            <AppenderRef ref="STDOUT"/>
        </Logger>
        
        <Root level="info">
            <AppenderRef ref="STDOUT"></AppenderRef>
        </Root>

    </Loggers>
</Configuration>
